.signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-signup {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.username-signup,
.birth-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.birth-signup {
  margin-left: 1em;
}

.label-email-signup,
.label-username-signup,
.label-birth-signup,
.label-password-signup,
.label-password-signup {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.2em;
  margin-top: 12px;
  padding-left: 20px;
}

.input-email-signup,
.input-username,
.input-birth-signup,
.input-password-signup,
.input-password-signup,
.btn-login-signup {
  border: 1px solid #000;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 1.2em;
  height: 2.5rem;
  margin-top: 6px;
}

.input-username::-webkit-input-placeholder,
.input-email-signup::-webkit-input-placeholder,
.input-birth-signup::-webkit-input-placeholder,
.input-password-signup::-webkit-input-placeholder,
.input-password-signup::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 100%;
}

.input-username:-ms-input-placeholder,
.input-email-signup:-ms-input-placeholder,
.input-birth-signup:-ms-input-placeholder,
.input-password-signup:-ms-input-placeholder,
.input-password-signup:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 100%;
}

.input-username::-ms-input-placeholder,
.input-email-signup::-ms-input-placeholder,
.input-birth-signup::-ms-input-placeholder,
.input-password-signup::-ms-input-placeholder,
.input-password-signup::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 100%;
}

.input-username::placeholder,
.input-email-signup::placeholder,
.input-birth-signup::placeholder,
.input-password-signup::placeholder,
.input-password-signup::placeholder {
  font-size: 1rem;
  line-height: 100%;
}

.signup-withgg,
.signup-withfb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5em;
  border: 1px solid #696161;
  border-radius: 30px;
  line-height: 2.5em;
  cursor: pointer;
  min-width: 15rem;
}

.signup-withgg i,
.signup-withfb i {
  margin-right: 20px;
}

.signup-withgg:hover,
.signup-withfb:hover {
  opacity: 0.7;
}

.btn-login-signup {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #6b6666;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.btn-login-signup:hover {
  opacity: 0.8;
}

.rules-signup {
  margin-top: 10px;
}

.btn-login-signup .btn-login-signin:hover {
  opacity: 0.8;
}

.sign-up-ref {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=SingUpPage.css.map */