.heading-signup {
  margin-bottom: 20px;
}
.modal-signup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal-signup-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 42.5em;
  max-width: calc(100% - 32px);
  min-height: 46em;
  position: relative;
  border-radius: 10px;
  padding: 10px;
}

.form-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.username-signup,
.birth-signup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.birth-signup {
  margin-left: 1em;
}

.label-email-signup,
.label-username-signup,
.label-birth-signup,
.label-password-signup,
.label-password-signup {
  align-self: flex-start;
  font-size: 1.2em;
  margin-top: 12px;
  padding-left: 20px;
}

.input-email-signup,
.input-username,
.input-birth-signup,
.input-password-signup,
.input-password-signup,
.btn-login-signup {
  border: 1px solid #000;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 1.2em;
  height: 2.5rem;
  margin-top: 6px;
}
.input-username::placeholder,
.input-email-signup::placeholder,
.input-birth-signup::placeholder,
.input-password-signup::placeholder,
.input-password-signup::placeholder {
  font-size: 1rem;
  line-height: 100%;
}
.rules-signup {
}

.btn-login-signup {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(40, 0, 151);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.btn-login-signup .btn-login-signin:hover {
  opacity: 0.8;
}

.close-signup {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
