@import "../../scss/varibles";
.header {
  background-color: $header-color;
  border-bottom: 50px solid rgb(73, 68, 68);
}
.header-flex {
  display: flex;
  padding-top: 2em;
}
.header__logo {
  text-align: center;
}

.header__img-logo {
  max-width: 5em;
  height: auto;
}
.header__user {
  display: flex;
  color: $main-color;
  justify-content: flex-end;
}
.header__user-avatar {
  position: relative;
  cursor: pointer;
}
.header__user-avatar i {
  font-size: 2rem;
}
.header__user-avatar:hover .header__user-avatar__authen {
  display: flex;
}
.header__user-avatar__authen {
  width: 250px;
  height: 80px;
  background-color: $main-color;
  color: $text-color;
  flex-direction: column;
  justify-content: center;
  display: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50px;
}
.header__user-avatar__authen::before {
  content: "";
  border-width: 22px 15px;
  border-style: solid;
  position: absolute;
  border-color: transparent transparent $main-color transparent;
  bottom: 70px;
  right: 0;
}
.header__user-avatar__authen-history,
.header__user-avatar-login {
  display: flex;

  font-size: 1.2rem;
  flex-direction: row;
  padding-left: 20px;
}
.header__user-avatar__authen-history i,
.header__user-avatar-login i {
  font-size: 1.2rem;
  margin-right: 10px;
}
.header__user-avatar__authen-history a,
.header__user-avatar-login a {
  cursor: pointer;
  color: rgb(184, 183, 182);
  text-decoration: none;
  line-height: 100%;
}

.header__user-cart {
  font-size: 2rem;
  margin-left: 2rem;
  position: relative;
  top: -5px;
}
.header__user-cart:hover .header__user-cart__list {
  display: flex;
}
.header__user-cart__list {
  /* display: none; */
  width: 400px;
  height: 300px;
  background-color: $main-color;
  color: $text-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50px;
}
.header__user-cart__list::before {
  content: "";
  border-width: 22px 15px;
  border-style: solid;
  position: absolute;
  border-color: transparent transparent $main-color transparent;
  top: -35px;
  right: 0;
}
.s-menu {
}

.s-icon-menu {
  font-size: 4em;
  color: $main-color;
  display: none;
}

.header__menu {
  padding-left: 1em;
  /* display: flex; */
  height: 5.625em;
  /* width: 68%; */
  /* flex-wrap: wrap-reverse; */
}

.div-menu {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  width: 100%;
  display: inline;
}

.nav > li {
  display: inline;
  color: $main-color;
}

.nav > li > a {
  color: $main-color;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 15px;
  font-weight: 300;
}

.nav > li > a:hover {
  text-decoration: underline;
}

.header__user {
  height: 5.625em;
  text-align: right;
  flex: 1;
  justify-self: end;
}
