@import "../../../scss/varibles";
.home {
  padding: 3rem 0;
  /* margin: 4rem 0; */
  display: flex;
  justify-content: space-around;
  border-bottom: 50px solid rgb(73, 68, 68);
}
.home__banner {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.img-lycf {
  height: auto;
  max-width: 100%;
}
