@import "./scss/varibles";

@font-face {
  src: url(../src/font/Myriad.otf);
  font-family: Myriad;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $page-color;
}

::placeholder {
  color: rgb(189, 159, 159);
  font-size: 0.8em;
}

.app {
  position: relative;
}
