@import "./scss/varibles";

@font-face {
  src: url(../src/font/Myriad.otf);
  font-family: Myriad;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $page-color;
}

::placeholder {
  color: rgb(189, 159, 159);
  font-size: 0.8em;
}

.app {
  position: relative;
}
///reposive
/* Reponsive */
/* PC */
@media (min-width: 64em) {
}

/* Tablet */

@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */

@media (max-width: 46.1875em) {
  .home__about {
    margin-top: 0;
  }
  .brand-name {
    font-size: 3.2rem;
  }
  .product-filter__item {
    font-size: 1rem;
  }
  #btn-signin {
    margin: 0;
  }
  #btn-signup {
    margin: 15px 0;
  }
  .div-btn-sign {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

/* Mobile-tablet */
@media (max-width: 63.9375em) {
  .header__menu {
    display: none;
  }

  .header__user {
    display: none;
  }
  .header-menu-mb {
    display: flex;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .product-category {
    display: none;
  }
  .home {
    padding: 0 20px;
  }
  .product {
    padding: 0 20px;
  }
  .product-filter {
    height: 6rem;
  }
  .product-menu-mb {
    display: flex;
  }
}
