$main-color: #a3704d;
$text-color: #c5c5c5;
$page-color: #000000;
$product-color: #fafafa;
$item-color: #c0c0c0;
$white-color: #fff;
$brown-color: #696161;
$background-color: rgb(235, 186, 186);
$star-color: #85f827;
